@import url(https://fonts.googleapis.com/css?family=Mulish:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Agrandir";
  src: url("../public/fonts/agrandir.otf");
  /* Add other font formats here if needed */
  font-weight: 800;
  font-style: normal;
}

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    color: white;
    overflow-x: hidden;
  }

  .center-absolute {
    @apply top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }

  .floor-position {
    transform: translate3d(0px, 0, 2px)
  }

  .heading {
    @apply font-primary text-4xl xxxs:text-6xl xxs:text-8xl xs:text-9xl md:text-[164px] lg:text-[193px] font-extrabold uppercase leading-[0.86] tracking-[0.5px] text-center;
  }

}

@layer animation {
  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .animate-rotate{
    animation: rotate 30s linear infinite;
  }

  .animate-slide-in {
    animation: slide-in 0.5s ease-out;
  }

  .animate-slide-out {
    animation: slide-out 0.5s ease-out;
  }
}
